src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
	<http:listener-config name="api-httpListenerConfig">
		<http:listener-connection host="0.0.0.0"
			port="8081" />
	</http:listener-config>
	<apikit:config name="api-config" api="api.raml"
		outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<flow name="api-main">
		<http:listener config-ref="api-httpListenerConfig" path="/api/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="api-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:BAD_REQUEST">
				<set-payload
					value='#[output application/json
---
{message: "Bad request"}]'
					doc:name="Set Eror Payload" />

				<set-variable value="400" doc:name="Set HTTP status"
					variableName="httpStatus" />
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<set-payload
					value='#[output application/json
---
{message: "Resource not found"}]'
					doc:name="Set Eror Payload" />

				<set-variable value="404" doc:name="Set HTTP status"
					variableName="httpStatus" />
			</on-error-propagate>
			<on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
				<set-payload
					value='#[output application/json
---
{message: "Method not allowed"}]'
					doc:name="Set Eror Payload" />

				<set-variable value="405" doc:name="Set HTTP status"
					variableName="httpStatus" />
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<set-payload
					value='#[output application/json
---
{message: "Not acceptable"}]'
					doc:name="Set Eror Payload" />

				<set-variable value="406" doc:name="Set HTTP status"
					variableName="httpStatus" />
			</on-error-propagate>
			<on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<set-payload
					value='#[output application/json
---
{message: "Unsupported media type"}]'
					doc:name="Set Eror Payload" />

				<set-variable value="415" doc:name="Set HTTP status"
					variableName="httpStatus" />
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
				<set-payload
					value='#[output application/json
---
{message: "Not implemented"}]'
					doc:name="Set Eror Payload" />

				<set-variable value="501" doc:name="Set HTTP status"
					variableName="httpStatus" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="api-console">
		<http:listener config-ref="api-httpListenerConfig" path="/console/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="api-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<set-payload
					value='#[output application/json
---
{message: "Resource not found"}]'
					doc:name="Set Eror Payload" />

				<set-variable value="404" doc:name="Set HTTP status"
					variableName="httpStatus" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="get:\products\(id):api-config">
		<set-variable value="attributes.uriParams.'id'" doc:name="Set id"
			variableName="id" />
		<set-payload
			value='#[output application/json
---
{
  id: "SbBGk",
  name: "Nike T-Shirt",
  description: "Blue short slevee Nike T-Shirt",
  size: "M",
  quantity: 33,
  price: 17.99
}]'
			doc:name="Set response Payload" />
	</flow>
	<flow name="get:\health:api-config">
		<set-payload value='#[output application/json
---
{
  status: "up"
}]'
			doc:name="Set Status Payload" />
	</flow>
</mule>
